@font-face {
  font-family: AnimeAcev02Bold;
  src: url("../fonts/Anime Ace v02 (bold).ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/RobotoLight.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/RobotoMedium.ttf");
}